<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Fullscreen Overlay Responsive Navigation Menu Using GSAP</title>
	
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
		<link rel="stylesheet" type="text/css"   href="/stylesheets/style.css">

	</head>

	<body>
		
		{% include "pages/header.html" %}

	{% for chapter in content %}
	<div class="blog-item" id="#home">
		<div class="blog-item__left">
			<img src="{{chapter.img}}" alt="">
			<h1>Comment section</h1>
			{% for comment in chapter.comments %}
				<p>{{comment.comment}}</p>
				<p>Writen by{{comment.username}}</p>
			{% endfor %}

			<h1>Write a new comment</h1>
			
			<form action="/comments" method="post" id="{{chapter.id}}">
				<section>
					<input type="hidden" name="formID" value="{{chapter.id}}">
					<label for="username"></label>
					<input type="text" id="username" placeholder="username" name="username" />
				</section>
				<section>
					<label for="comment">Comment Text</label>
					<br>
					<textarea id="comment" cols="30" rows="5" name="comment"></textarea>
				</section>
				<button >Submit</button>
			</form>
		</div>
		<div class="blog-item__right">
			<h1>{{chapter.title}}</h1>
			<p>{{chapter.content}}</p>

		</div>
	</div>



	{% endfor %}

{% include "pages/footer.html" %} 

	</body>
</html>
