<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Fullscreen Overlay Responsive Navigation Menu Using GSAP</title>
	
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <link rel="stylesheet" type="text/css"   href="/stylesheets/style.css">
	</head>

	<body>
		
    {% include "pages/header.html" %}

    <h1>Products: {{product.name}}</h1>
		<h1>Price: {{product.price}} euro</h1>

		<a href="/about">Products Page</a>

	</body>
</html>
